body{
    background-color: hsl(233, 47%, 7%);
    margin: 0;
}

.card{
    color: white;
    background-color: hsl(244, 38%, 16%);
}

.attribution { 
    color: white;
    font-size: 0.7rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}