body{
    background-color: hsl(233, 47%, 7%);
    margin: 0;
}

.content-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 7rem 0rem;
    width: 20rem;
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
}

.card .main-image{
    position: relative;
    height: 14.68rem;
}

.card .main-image img{
    max-width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card .main-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(277, 100%, 25%, 0.6);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-body{
    padding: 1.5rem;
    height: 28.5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

h1{
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 1.64rem;
}

.span-insights{
    color:hsl(277, 64%, 61%);
}

.card-text{
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    padding: 0rem 1.5rem;
    font-size: 0.82rem;
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 0.75);
}

.card-stat{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.stat-name{
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 0.3rem;
}

.attribution { 
    margin-bottom: 0.6rem;
    color: white;
    font-size: 0.7rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 710px){
    .content-flex{
        flex-direction: row;
        height: 100vh;
    }

    .card{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        width: 45em;
        height: 21em;
        text-align: start;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0;
    }

    .card > .main-image{
        grid-area: 1 / 2 / -2 / -1;
        height: 100%;
    }

    .card > .main-image > img{
        content: url("./images/image-header-desktop.jpg");
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5em;
    }

    .card .main-image::after{
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5em;
    }

    .card-body{
        padding: 1.5em 3em;
        width: 18em;
        height: 100%;
        position: relative;
    }

    h1{
        width: 11em;
        font-size: 1.5em;
    }

    .card-text{
        padding: 0;
        margin-top: 2em;
    }

    .card-body > p {
        width: 24em;
        line-height: 1.9;
        font-size: 0.61em;
    }

    .stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 0em 4em;
        position: absolute;
        bottom: 11em;
        font-size: 0.5em;
    }

    .card-stat{
        display: inline-block;
        margin: 0;
    }
    
    .stat-name{
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 0.2em;
    }

}


@media (min-width: 1000px){
    .content-flex{
        flex-direction: row;
        height: 100vh;
    }

    .card{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        width: 68em;
        height: 30em;
        text-align: start;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0;
    }

    .card > .main-image{
        grid-area: 1 / 2 / -2 / -1;
        height: 100%;
    }

    .card > .main-image > img{
        height: 100%;
    }

    .card-body{
        padding: 1.5em 3em;
        height: 100%;
        position: relative;
    }

    h1{
        width: 11em;
        font-size: 2.4em;
    }

    .card-text{
        padding: 0;
        margin-top: 2em;
    }

    .card-body > p {
        width: 24em;
        line-height: 1.9;
        font-size: 1em;
    }

    .stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 0em 4em;
        position: absolute;
        bottom: 7em;
        font-size: 1em;
    }

    .card-stat{
        display: inline-block;
        margin: 0;
    }
    
    .stat-name{
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 0.2em;
    }
}